@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Urunler</title>
</head>
<body>
    <a asp-action="Index">Anasayfaya git</a>

    <h1>Ürünler Listesi</h1>
    <h1>-------------</h1>
    <h2>@ViewBag.m1</h2>
    <h2>@ViewBag.m2</h2>
    <h2>@ViewBag.m3</h2>
    <h2>@ViewBag.t</h2>
    <h2>@ViewBag.c</h2>
    <h2>@ViewBag.Faktoriyel</h2>
    <h2>@ViewBag.Faktoriye2</h2>
    <h2>@ViewBag.Faktoriye3</h2>
</body>
</html>
